@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
.div-input{
    position: fixed;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    display: inline-grid;
    width: 42vh;
    padding: 6% 20% 19vh 16%;
    height: 69%;
    max-height: 69%;
}
.input-login{
    margin: 0 0 3% 0;
    max-height: 60px;
    width: 50vh;
    background: none;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
}

.logar{
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.5);
    margin-top: 15%;
    width: 54vh;
    color: white;
    font-size: 15px;
    padding: 15px;
}
.container{
    display: flex;
}
.div-img{
    width: 100%;
    margin-left: auto;
}
.img-login{
    z-index: -1;
    right: 0;
    position: fixed;
    width: 90vh;
}
.text-input{
    color: white;
}
.text-input h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
.text-input p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 50%;
    font-weight: 300;
}

.text-input h4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 100px 0 50px 0;
}
.img-logo{
    margin-top: 2%;
    margin-left: 76%;
    width: 10%;
}