.lista-botoes li{
    right: 0;
    padding :15%;
    list-style-type: none;    
  }
  .lista-botoes{
    margin-left: 50vh;
  }
  .lista-botoes ul{
    display: flex;
    float: right;
  }
  .sobre{
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-top: 2%;
    width: 25%;
    display: flex;
    float: left;
    margin-left: 10%;
    padding-right: 5%;
    height: 35px;
    border-right: 1px solid white;
  }
  .div-timer{
    margin-top: 1%;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    width: 5%;
    text-align: right;
  }
  .timer{
    margin-left: 40%;
    margin-top: 20px;
    font-size: 40px;
  }
  .seconds{
    margin-top: -6vh;
    margin-left: 45%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
  }
  .div-sobre{
    display: flex;
    height: 50px;
  }
  .bola{
    width: 50vh;
    position:fixed;
    margin-left: 0;
    margin-top: 25vh;
  }
  .logo{
    margin-top: 3vh;
    margin-left: 3vh;
  }
  
  footer{
    bottom: 0;
    left: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    color: white;
  }
  .open{
    color: #C13216;
    background-color: white;
    margin-top: -8%;
  }
  .closed{
    color: white;
    margin-top: -8%;
  }
  .closed:hover{
    transition: 1ms;
    background-color: white;  
  }
  .closed a{
    color: white;
    text-decoration: none;
  }
  .closed:hover a{
    color: #C13216;
  }
  .hora{
    font-size: 100px;
    color: #222;
    margin-left: 90vh;
  }
  .descricao-hora{
    font-size: 14px;
    color: #222;
    margin-top: -2vh;
    margin-left: 94vh;
  }
  .data{
    margin-top: -12vh;
  }
  .cronometro{
    width: 11vh;
  }
  .content{
    color: #C12D18;
    margin-top: 15vh;
    text-align: right;
    margin-right: 6%;
  }
  .content p{
    color: #222222;
  }
  .content h3, h1{
    margin-bottom: -15px;
  }
  .content h3{
    font-size: 25px;
  }
  .content h1{
    font-size: 40px;
    font-weight: 700;
  }
  .previsao{
    margin-top: -66vh;
    margin-left: 189vh;
  }
  @media screen and (max-width: 475px) {
    .sobre {
      text-align: center;
      margin-top: 2%;
      width: 85%;
      display: flex;
      float: left;
      margin-left: 5%;
      padding-right: 5%;
      border-bottom: 1px solid white;
      border-right: none;
      padding-bottom: 10%;
    }
    .div-timer {
      margin-left: 15%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 100;
      width: 65%;
      text-align: center;
    }
    .seconds {
      margin-top: -6vh;
      margin-left: 200%;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
    }  

    .div-sobre {
      display: inline;
      height: 50px;
    }
    .footer{
      display: flex;
    }
    footer{
      height: 270px;
    }
    .hora {
      margin-top: 30%;
      margin-left: 5%;
      font-size: 40px;
    } 
    .descricao-hora {
      margin-left: 5%;
      width: 50%;
      margin-top: 2%;
    }
    .logo{
      margin-top: 3vh;
      margin-left: 25%;  
    }
    .previsao {
      margin-left: 70%;
      margin-top: -53vh;
    }
    .temp{
      margin-top: -10%;
      color: #222;
    }
    .bola{
      display: none;
    }
    .lista-botoes{
      margin-left: -40px;
      margin-top: -4%;
    }
    .lista-botoes ul {
      display: grid;
      float: inherit;
    }
    .lista-botoes li {
      padding: 5%;
      margin: 0%;
    }
    .timer {
      margin-left: 40%;
      margin-top: 0px;
      font-size: 30px;
    }
    .footer{
      position: absolute;
    }
    .content h1 {
      font-size: 20px;
    }
    .cronometro{
      width: 2%;
      margin-left: 35%;
    }

  }